.panel_Container
{
    margin-left:auto;
    margin-right:auto;
    background-color:#f9f9f9;
    width:1024px;
    color:#808080;
}

.panel_Border 
{
    border:solid;
    border-width:1px;
    border-color:#808080;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel_Border-NoTop { border-top:0px; }
.panel_Border-NoLeft { border-left:0px; }
.panel_Border-NoRight { border-right:0px; }
.panel_Border-NoBottom { border-bottom:0px; }

.panel_Header
{
    width:1024px;
    height:96px;
    background-color:inherit;
    background-image:url(mountains.png);
    float:left;
}
.panel_Menu
{
    width:128px;
    height:512px;
    background-color:inherit;
    float:left;
}

.panel_Content
{
    width:768px;
    height:512px;
    background-color:inherit;
    float:left;
}

.panel_Footer
{
    width:1024px;
    height:16px;
    background-color:inherit;
    float:left;
}

.panel_Register
{
    margin-top:64px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width:256px;
    height:auto;
}
.panel_Spacing
{
    width:256px;
    height:10px;
    float:left;
}
.panel_SubContent
{
    margin-top:16px;
    margin-left:16px;
    width:736px;
    height:480px;
}
.panel_SubContentTab
{
    margin-top:8px;
    margin-left:8px;
    text-align:left;
    width:736px;
    height:64px;
    float:left;
}
.panel_SubContentSpacing
{
    width:736px;
    height:1px;
    float:left;
    background-color:#808080;
}