.menuItemButton
{
    width:136px;
    height:24px;
    padding-top:6px;
    padding-left:6px;
    font-size:12px;
    background-color:#f9f9f9;
    color:#808080;
}
.menuItemButton:hover
{
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(50,50,50, 0.5);
    background-color:#e9e9f9;
    color:#000000;
}
