/*BWG7X-J98B3-W34RT-33B3R-JVYW9*/
.panel_Border
{
    border:solid;
    border-width:1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.panel_Border-NoBottom { border-bottom-width:0px; }
.panel_Border-NoLeft { border-left-width:0px; }
.panel_Border-NoRight { border-right-width:0px; }
.panel_Border-NoTop { border-top-width:0px; }

.panel_PageContainer
{
    margin-left:auto;
    margin-right:auto;
    background-color:#f9f9f9;
    width:1024px;
    color:#808080;
}

.panel_Header
{
    width:1024px;
    height:96px;
    float:left;
    background-image:url('images/winterforest.png');
    background-size:cover;
    float:left;
    border-radius: 16px 16px 0px 0px;
}

.panel_Menu
{
    width:144px;
    height:512px;
    background-color:inherit;
    float:left;
}

.panel_ContentArea
{
    width:736px;
    height:512px;
    background-color:inherit;
    float:left;
}
.panel_AreaContent
{
    position:relative;
    top:16px;
    left:16px;
    width:704px;
    height:480px;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:inherit;
}

.panel_AreaContentMargin
{
    margin-left:16px;
    margin-right:16px;
}

.panel_Footer
{
    width:1024px;
    height:16px;
    background-color:inherit;
    border-radius: 0px 0px 8px 8px;
    float:left;
}

.panel_RegisterBoxContainer
{
    text-align:left;
    margin-top:32px;
    margin-left:auto;
    margin-right:auto;
    width:256px;
    height:auto;
    color:#808080;
}

.panel_RegisterBoxSpacing
{
    margin-left:auto;
    margin-right:auto;
    width:256px;
    height:8px;
    background-color:inherit;
    color:inherit;
    float:left;
}